POSTGRES_DB=shelf
POSTGRES_USER=shelf
POSTGRES_PASSWORD=replace-with-a-long-random-password
SHELF_INSTALLATION_ID=installation-main
SHELF_AUTH_BASE_URL=http://127.0.0.1:3000
SHELF_AUTH_SECRET_FILE=./secrets/auth-secret.txt
